.card {
    background-color: #8485a9;
    color: #ffffff;
    border: 2px solid #555555;
    border-radius: 5px;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    }

    .content {
    margin-left: 220px;
    padding: 20px;
    text-align: center;
    }

    .container {
    border: 2px none;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50px; /* mover horizontamente*/
    left: 220px; /* mover vertifcalmente*/
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    }

h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    }

label {
    font-size: 30px;
    color: white;
}

form {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

label[for="cliente"],
[for="roupa"],
[for="quantidade"],
[for="form-pagamento"],
[for="valor-unidade"],
[for="valor-total"]{
    font-size: 18px;
    font-weight: bold;
}

.label-1{
    display: flex;
    flex-direction: row;
}

    label[for="cliente"]{
        margin-left: 1%;
        margin-bottom: -25px;
        
    }

    label[for="roupa"]{
        margin-left: 70%;
        margin-bottom: -25px;
    }

    label[for="quantidade"]{
        margin-left: 125%;
        margin-bottom: -25px;
    }

.input-1{
    display: flex;
    flex-direction: row;
}

    #env-cliente{
        width: 35%;
    }

    #env-roupa{
        width: 55%;
        margin-left: 1%;
    }

    #env-quantidade{
        width: 20%;
        margin-left: 1%;
    }

.label-2{
    display: flex;
    flex-direction: row;
}

    label[for="form-pagamento"]{
        margin-left: 1px;
        margin-bottom: -25px;
    }


    label[for="valor-unidade"]{
        margin-left: 77px;
        margin-bottom: -25px;
    }

    label[for="valor-total"]{
        margin-left: 75px;
        margin-bottom: -25px;
    } 

.input-2{
    display: flex;
    flex-direction: row;
    margin-bottom: -5px;
}

    #env-form-pag{
        width: 250px;
    }

    #env-valor-unid{
        width: 200px;
        margin-left: 1%;
    }

    #env-valor-total{
        width: 155px;
        margin-left: 1%;
    }

select,
input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
}

.button {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    background-color: #273c75;
    padding: 10px 20px;
    position: relative;
    left: 510px;
}

.button input[type="submit"] {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
    background-color: #4562a8;
    }
